header{
  background-color: rgb(47, 47, 47);
  width: 100vw;
  height: 12vh;
}

body > div{
  position: relative;
}

#flexbox{
    display: flex;
    height: 80vh;
    justify-content: space-between;
    align-items: stretch;
}

#flexbox > div{
  background-color: darkgray;
  height: 90vh;
  width: 13vh;
}

footer{
  background-color: black;
  height: 8vh;
  bottom: 0px;
  justify-content: center;
}