#box1{
    border: black solid 5px;
    height: 150px;
    margin: 10px;
}

.shape{
    position: relative;
}

#purple{
    background-color: blueviolet;
    position: relative;
    height: 90px;
    width: 25px;
    margin: 5px;
    top: 50px;
}

#green{
    background-color: green;
    position: relative;
    height: 135px;
    width: 300px;
    bottom: 97px;
    margin: 10px;
    left: 50px;
}

#blue{
    background-color: skyblue;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    left: 400px;
    bottom: 245px;
}

#box2{
    border: black dotted 5px;
    height: 200px;
    margin: 10px;
    position: relative;
}

#center-square{
    width: 90%;
    height: 150px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: beige;
    box-shadow: 10px 10px 5px 0px black;
}

#box3{
    width: 50%;
    border: 1px solid #ccc;
    background-color: white;
    padding: 100px;
    box-sizing: border-box ;
    margin: 25px auto; 
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25)
}

section > h3{
    width: 100%;
    text-align: center;
    color: navy;
    letter-spacing: 10px;
    font-weight: bolder;
}